.main-footer 
    .container 
        .main-footer__wrap 
            .main-footer__item
                h2.main-footer__title Address
                .main-footer__text Pipang Ltd, Griva Digeni,<br> 81-83 Jacovides Tower, 1st Floor 1090 Picosia USA
            .main-footer__item
                h2.main-footer__title Services
                ul.main-footer__list 
                   li Overview
                   li Features
                   li Technology
                   li Terms &amp; Conditions
                   li Privecy
            .main-footer__item
                h2.main-footer__title Get in Touch
                ul.main-footer__contact
                    li
                        a(href="mailto:info@cloudbudget.com" target="_blank") info@cloudbudget.com
                    li
                        a(href="tel:+18447217120" target="_blank") +1 844-721-7120 
                ul.main-footer__socials
                    li
                        a(href="#") 
                            include ../icons/socials/facebook
                    li
                        a(href="#") 
                            include ../icons/socials/linkedin
                    li
                        a(href="#") 
                            include ../icons/socials/twitter
            .main-footer__item
                h2.main-footer__title We Support
                img(src="assets/i/footer/logos.jpg", alt="")
        .main-footer__copyright Copyright 2018 CloudBudget
