.main-header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5rem;
  width: 100%;
  z-index: 1000;
  @media screen and (max-width: 1200px) {
    padding: 5rem 1.5rem 0;
  }
  &__wrap {
    display: flex;
    align-items: center;
  }
  .logo {
    position: relative;
    top: 0.3rem;
    left: 0.2rem;
    margin-right: 15.4rem;
    flex: 0 0 17.2rem;
    @media screen and (max-width: 992px) {
      margin-right: auto;
    }
  }
  .btn {
    margin-left: auto;
    margin-right: 0.2rem;
    @media screen and (max-width: 992px) {
      margin-left: 3.2rem;
      margin-right: 3.2rem;
    }
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
}


