.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &__wrap {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: 150px;
    }
}