.contact {
	padding: 11.7rem 0 7.8rem;
	@media screen and (max-width: 1200px) {
		padding: 6.4rem 1.5rem;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		gap: 13.8rem;
		@media screen and (max-width: 992px) {
			display: block;
		}
	}

	&__content {
		flex: 0 0 43.4rem;
		padding-left: 1.4rem;
    @media screen and (max-width: 1200px) {
      padding-left: 0;
    }
		@media screen and (max-width: 992px) {
			margin-bottom: 6.4rem;
      padding-left: 0;
		}
	}

	&__title {
		margin-bottom: 5.4rem;
	}

	&__form {
		flex: 1;
	}
}

// * {
//   border: 1px solid blue;
// }
