.technology {
	margin-bottom: 1.9rem;
	padding: 6.1rem 0 10.8rem;

	&__title {
		margin-bottom: 12.5rem;
		text-align: center;
    @media screen and (max-width: 576px) {
      margin-bottom: 6.4rem;
    }
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.5rem;
    @media screen and (max-width: 576px) {
      display: block;
      margin: 0;
    }
	}

	&__item {
		margin: 0 1.5rem;
		flex: 0 0 calc(25% - 3rem);
		text-align: center;
		@media screen and (max-width: 768px) {
      margin: 0 1.5rem 6.4rem;
			flex: 0 0 calc(50% - 3rem);
		}
    @media screen and (max-width: 576px) {
      margin: 0 auto 6.4rem;
    }
		&:last-of-type {
			img {
				position: relative;
				top: 1rem;
				// @media screen and (max-width: 992px) {
				//   top: 0;
				// }
			}
		}
	}

	&__img {
		margin-bottom: -0.4rem;
		height: 8rem;
		@media screen and (max-width: 1400px) {
			margin-bottom: 1.6rem;
		}
	}

	&__subtitle {
		margin-bottom: 0.5rem;
		font-size: 1.8rem;
	}

	&__text {
		margin: 0 auto;
		max-width: 19.2rem;
		font-size: 1.2rem;
		line-height: normal;
    @media screen and (max-width: 1200px) {
      max-width: initial;
      width: 80%;
    }
	}
}

