extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Main

block content
	.container-big
		include ../blocks/main-header
		include ../blocks/home/home-intro
		include ../blocks/home/management
		h1 Home page

block scripts
	script(src="assets/js/dist/webpack.js")
