extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Main

block content
	.container-big
		// include ../blocks/main-header
		include ../blocks/home/home-intro
		include ../blocks/home/management
		include ../blocks/home/features
		// include ../blocks/home/technology
		include ../blocks/home/focus
		include ../blocks/home/contact
		include ../blocks/globals/main-footer

block scripts
	script(src="assets/libs/jquery.min.js") 
	script(src="assets/libs/jQueryFormStyler-master/dist/jquery.formstyler.min.js")
	script(src="assets/jquery/custom-jquery.js")
	script(src="assets/js/dist/webpack.js")
