.features 
    .container 
        h2.features__title.title Features
        .features__wrap 
            .features__item
                .features__img 
                    img(src="assets/i/home/features/features-1.jpg", alt="")
                .features__content 
                    h3.features__subtitle Supports All Currencies and Cards
                    .features__text We support all popular currencies and is fully customizable to add
                    a.features__link.link(href="#") Read More
            .features__item
                .features__img 
                    img(src="assets/i/home/features/features-2.jpg", alt="")
                .features__content 
                    h3.features__subtitle Manage your expenses on the go 
                    .features__text You can access your account from anywhere in the world on any device
                    a.features__link.link(href="#") Read More 
            .features__item
                .features__img 
                    img(src="assets/i/home/features/features-3.jpg", alt="")
                .features__content 
                    h3.features__subtitle Cloud Budget Management Software 
                    .features__text Our software is made so you can access and manage your budget
                    a.features__link.link(href="#") Read More