.focus 
    .container 
        .focus__wrap 
            .focus__content 
                h2.focus__title.title Stay focused on saving money
                .focus__text.text It is important to stay focused on saving money in any way you can. We help you monitor your spending habits so you can easily spot and cut any unnecessary expenses. Simply join today to get started!
                .focus__logos 
                    .focus__logo
                        include ../icons/focus/focus-logo-1
                    .focus__logo
                        include ../icons/focus/focus-logo-2
                    .focus__logo
                        include ../icons/focus/focus-logo-3
            .focus__img 
                img(src="assets/i/home/focus/focus-1.jpg" alt="")
                img(src="assets/i/home/focus/focus-2.jpg" alt="")
                img(src="assets/i/home/focus/focus-3.jpg" alt="")