.management 
    .container 
        .management__wrap 
            .management__content 
                h2.management__title.title  Easy to Use Cloud Budget Management Software
                .management__text.text Our software is made so you can access and manage your budget and expenses online at any time from any device. It provides detailed income and expense reports with graphs so you can easilly see your spending patterns and budget at a glance. Read below to find out more.
                a.management__link.link(href="#") Learn More
            .management__img 
                img(src="assets/i/home/management/management.jpg", alt="")