.technology 
    .container 
        h2.technology__title.title Technology
        .technology__wrap 
            .technology__item
                .technology__img 
                    img(src="assets/i/home/technology/tech-1.svg" alt="")
                h3.technology__subtitle Cloud Storage
                .technology__text Access your account from anywhere in the world on any device
            .technology__item
                .technology__img 
                    img(src="assets/i/home/technology/tech-2.svg" alt="")
                h3.technology__subtitle Secure
                .technology__text All your information is stored on secure cloud servers
            .technology__item
                .technology__img 
                    img(src="assets/i/home/technology/tech-3.svg" alt="")
                h3.technology__subtitle PDF Download
                .technology__text Download any of your reports in PDF format
            .technology__item
                .technology__img 
                    img(src="assets/i/home/technology/tech-4.svg" alt="")
                h3.technology__subtitle CSV Download
                .technology__text All your information is stored on secure cloud servers