body {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 30px;
	font-family: var(--font-1);
	color: #000;
	background: white;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 1px;
		height: 100vh;
		background: blue;
		z-index: 10;
		display: none;
	}
}


* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.container-big {
	margin: 0 auto;
	max-width: 1440px;
}

input[type="submit"]:disabled {
	cursor: not-allowed !important;
	opacity: 0.6 !important;
}