//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//colors
$white:  #fff;
$black:  #000;
$tundora: #9fa;
$brown: brown;

:root {
    --font-1: "Lato", sans-serif;
    --accent: #ED4C5C;
    --contrast: #14D100;
}