.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 52px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    color: var(--accent);
    background: white;
    transition: all .4s;
    cursor: pointer;

    &:hover {
        color: white;
        background: var(--contrast);
    }

    &--border {
        color: white;
        background: transparent;
        border: 1px solid white;

        &:hover {
            color: var(--accent);
            background: white;
        }
    }

    &--small {
        padding: 4px 27px;
    }

}