.main-menu {
	position: relative;
	top: -0.2rem;
	left: 0.1rem;

	display: flex;
	align-items: center;
	margin-right: 11rem;
	a {
		display: block;
		margin: 0 1rem;
		font-size: 1.4rem;
		font-weight: 700;
		color: white;
		text-transform: uppercase;
	}
}

